/* reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica, Arial, sans-serif;
}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    /* width: 100%; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#header .search-button{
    float: right;
    padding: 0 21px 0;
   
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#header .search-button:hover{
    background-color: red;
    cursor: pointer;
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav .nav-down{
    font-size: 14px;
}

#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: blue;
    background-color: chocolate;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
}

#nav .subnav a{
    color: #000;
    padding: 0 16px;
    line-height: 38px;
    
}

#slider{
    margin-top: 46px;
    padding-top: 70%;
    background: url(/slider1.jpg) top center / cover no-repeat;
    position: relative;
}

#slider .text-content{
    position: absolute;
    top: 40%;
    left: 85%;
    transform: translateX(-130%);
    text-align: center;
}

#slider .img-Logo{
    width: 250%;
}

#content{
    /* height: 1000px; */
    position: relative;
    display: inline-block;
}

#content .TNT-list{
    margin-top: 7%;
}

#content .TNT{
    width: calc(100%/3);
    float: left;
}

#content .TNT-name{
    font-size: 100%;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
}

#content .TNT .img-TNT{
   width: 50%;
   margin-left: 25%;
   margin-top: 5%;
}

#content .contact{
    background-color:cyan;
    padding: 20px;
    max-width: 800px;
    margin: 43% 20% 10% 24%;
    text-align: center;
    border: 1px solid darkgreen;
}

#content #text-contact{
    font-weight: 540;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

#input-text input{
    width: 50%;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

#input-text #button-send{
    margin-top: 10px;
    width: 15%;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
}

#input-text #button-send:hover{
    background-color: teal;
    color: black;
    cursor: pointer;
}

#content #text-member{
    font-style: normal;
    color: #999;
    margin-bottom: 10px;
}

#content #input-text{
    list-style-type: none;
}

#footer .footer-background{
    margin-bottom: 0px;
    padding-top: 30%;
    background: url(/picture.jpg) top center / cover no-repeat;
    position: relative;
}

#footer .icon{
    width: 6%;
    position: absolute;
    top: 25%;
    border-radius: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#footer #icon-facebook{
    left: 24%;
}

#footer #icon-instagram{
    left: 32%;
}

#footer #icon-tiktok{
    left: 40%;
}

#footer #icon-youtube{
    left: 48%;
}

#footer #icon-twitter{
    left: 56%;
}

#footer #icon-pinterest{
    left: 64%;
}

.made-by{
    text-decoration: none;
    color: #999;
}

#made-by{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 4px dotted #999;
    color: #999;
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    top: 55%;
    left: 50%;
    font-size: 20px;
    transform: translateX(-70%);
    text-align: center;
    padding: 4px;
}
